/* 채팅 컨테이너 스타일 : 전체적인 가장 큰 박스 */
.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #9c27b0;
  border-radius: 10px;
}

/* 메시지 컨테이너 스타일 : 메세지 박스 */
.messages-container {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

/* 개별 메시지 스타일 */
.message {
  margin-bottom: 10px;
}

/* 메시지 내용 스타일 */
.message-content {
  margin: 0;
}

/* 입력 필드 스타일 */
.input-field {
  width: calc(100% - 80px); /* 전송 버튼 고려하여 너비 설정 */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* 전송 버튼 스타일 */
.send-button {
  padding: 10px 20px;
  background-color: #9c27b0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 20px;
}

.messaging {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.msg_history {
  overflow-y: auto;
  height: 300px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.incoming_msg_img img {
  width: 50px;
  border-radius: 50%;
}

.received_msg {
  display: inline-block;
  width: 80%;
  margin-left: 10px;
}

.received_withd_msg {
  background: #ebebeb;
  padding: 10px;
  border-radius: 5px;
}

.sent_msg {
  float: right;
  width: 80%;
}

.sent_msg p {
  background: #9c27b0;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.input_msg_write {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.write_msg {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.msg_send_btn {
  background: #9c27b0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* 미션 리스트 컨테이너 스타일 */
.mission-container {
  width: 100%;
  max-width: 300px; /* 적절한 너비 조정 */
  margin: 20px auto; /* 중앙 정렬 */
  padding: 20px;
  border: 2px solid #9c27b0;
  border-radius: 10px;
}

/* 미션 리스트 스타일 */
.mission-list {
  list-style-type: none;
  padding: 0;
}

/* 미션 아이템 스타일 */
.mission-item {
  margin-bottom: 10px;
}

/* 미션 내용 스타일 */
.mission-content {
  margin: 0;
}

/* 미션 수락 버튼 스타일 */
.accept-button,
.reject-button {
  padding: 5px 10px;
  background-color: #9c27b0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 미션 수락 버튼 스타일 */
.reject-button {
  background-color: #f44336;
}
