/* App.css */

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

/* sign up */
.signup_link {
    text-align: center;
    color: gray;
    margin: 30px;
}

.SignUp .head h5 {
    color: gray;
    margin: 30px;
}

.SignUp {
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.whole {
    margin: auto;
    width: 25%;
}

p {
    margin: 5px 0 0 0;
    text-align: left;
}

/* 로그인 */
.signup_link {
    text-align: center;
    color: gray;
    margin: 30px;
}

.SignIn {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignIn .head {
    text-align: center;
}

.SignIn .head h5 {
    color: gray;
    margin: 30px;
}

.email_textfield,
.password_textfield,
.submit_button {
    text-align: center;
    margin: 10px;
}

.submit_button {
    padding: 20px;
}

/* 매칭 화면 */
.match-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* 배경 이미지가 다른 요소 뒤에 오도록 설정 */
}

.button-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* 버튼 공통 스타일 */
.button {
    padding: 12px 25px;
    color: #ffffff;
    border: none;
    border-radius: 25px; /* 둥근 버튼 */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* 매칭 수락 버튼 스타일 */
.accept-button {
    background-color: #8e44ad; /* 진한 보라색 */
}

.accept-button:hover {
    background-color: #732d91; /* 호버 시 색상 변경 */
}

/* 매칭 거절 버튼 스타일 */
.reject-button {
    background-color: #e74c3c; /* 진한 빨간색 */
}

.reject-button:hover {
    background-color: #c0392b; /* 호버 시 색상 변경 */
}

/* 대기 중 메시지 스타일 */
.pending-message {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #333333;
    font-size: 18px;
    text-align: center;
}

/* 매칭 실패 메시지 스타일 */
.not-matched-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000; /* 검은색 */
    font-size: 24px; /* 텍스트의 크기 조정 */
    font-weight: bold; /* 굵은 텍스트 설정 */
    text-align: center; /* 가운데 정렬 */
  }
  