html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#root {
    width: 100vw;
    height: 100vh;
}

/* sign up */
.signup_link {
    text-align: center;
    color: gray;
    margin: 30px;
}
.SignUp .head h5 {
    color: gray;
    margin: 30px;
}
.SignUp {
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.whole {
    margin: auto;
}
p {
    margin: 5px 0 0 0;
    text-align: left;
}
